@import "tailwindcss";

@theme {
  --font-weight-medium: initial;
  --font-weight-extralight: initial;
  --font-weight-extrablack: 900;

  --color-primary: #ff510c;
  --color-lightGray: #f6f6f6;

  --breakpoint-2xl: 1440px;
}

@layer base {
  button {
    cursor: pointer;
  }
}

@layer components {
  .icon {
    @apply w-4.5 2xl:w-6;
  }
}
